/* components/Footer.module.css */

.footer {
    background-color: #000000;
    padding: 400px 10px;
    text-align: center;
    margin-top: 460px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

@media (max-width: 768px) {
  .footer__contacts {
    flex-direction: column;
    align-items: center;
  }

  .footer__contact {
    width: 100%;
    max-width: 400px;
  }
}


